body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 400px;
    height: 600px;
}

.row {
    display: flex;
    flex: 1;
    gap: 0.5rem;
}

.button, #visor {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    padding: 1rem;
    margin: 0;
}

.button:active, .button.is-active {
    transform: translateY(2px);
    filter: brightness(0.85);
}

#visor {
    justify-content: flex-end;
}

.button.number {
    background-color: white;
}

.button.operator {
    background-color: gold;
}